body {
    background-color: white;
    color: black;
    transition: 0.3s;
    font-family: sans-serif;
  }
  
  .dark-mode {
    background-color: #121212;
    color: white;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }